@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    background: #f5f6fa;
    color: #9c9c9c;
    font: 1rem "PT Sans", sans-serif;
}
html, body, .container {
    height: 80%;
}
a {
    color: inherit;
}
a:hover {
    color: #075e54;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container > h1 {
    font-weight: 700;
    font-size: 3em;
    color: #128c7e;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #128c7e;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 12px 36px;
}
.btn--primary:hover {
    background: #075e54;
}
.btn--primary:active {
    background: #128c7e;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.btn--inside {
    margin-left: -96px;
}
.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form__field {
        width: 280px;
    }
  }

